@model List<ServiciosTecnicos.Models.Technician>

@{
    ViewData["Title"] = "Técnicos";
}

<h1>Listado de Técnicos</h1>

<a href="/Tecnicos/Create" class="btn btn-success mb-3">
    Nuevo Técnico
</a>

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Experiencia</th>
        <th>Calificación</th>
        <th>Disponible</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TechnicianId</td>
            <td>@item.UserId</td>
            <td>@item.ExperienceYears años</td>
            <td>@item.AverageRating</td>
            <td>
                @(item.Available ? "Sí" : "No")
            </td>

            <td>
                <a href="/Tecnicos/Edit/@item.TechnicianId"
                       class="btn btn-warning btn-sm">
                    Editar
                </a>

                <a href="/Tecnicos/Delete/@item.TechnicianId"
                       class="btn btn-danger btn-sm">
                    Eliminar
                </a>
            </td>
        </tr>
    }

</table>