@model Queue<ServiciosTecnicos.Models.Solicitud>

@{
    ViewData["Title"] = "Solicitudes";
}

<h1>Gestión de Solicitudes</h1>

<a href="/Solicitudes/Crear" class="btn btn-success">
    Nueva solicitud
</a>

<a href="/Solicitudes/Atender" class="btn btn-danger">
    Atender siguiente
</a>

<br />
<br />

<table class="table table-bordered">

    <tr>
        <th>Cliente</th>
        <th>Servicio</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Estado</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NombreCliente</td>
            <td>@item.TipoServicio</td>
            <td>@item.Descripcion</td>
            <td>@item.Fecha</td>
            <td>@item.Estado</td>
        </tr>
    }

</table>

<br />

<a href="/" class="btn btn-secondary">
    Regresar
</a>